server:
  port: 1234
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource                  #数据源连接池
    url: jdbc:mysql://localhost:3306/test?serverTimezone=UTC      #url  8.0以后防止乱码需要加上
    username: root                                                #用户名
    password: 302767241                                           #密码
    driver-class-name: com.mysql.cj.jdbc.Driver                   #通常不需要设置驱动  Spring Boot会根据数据库URL识别出需要的驱动

  #视图跳转
  mvc:
    view:
      prefix: /                                     #前缀
      suffix: .jsp                                  #后缀

  servlet:
    multipart:
      max-file-size: 100MB     #单个文件大小       默认1MB
      max-request-size: 900MB #同时上传多个文件大小 默认10MB
  #支持彩色日志
  output:
    ansi:
      enabled: always

  # 禁用模板缓存 确保这个文件不会发布到生产环境，否则生产环境里的应用程序就无法享受模板缓 存带来的性能提升
  thymeleaf:
    cache: false
#nybatis配置
mybatis:
  type-aliases-package: com.zhanghui.yx.entity              #指定实体类的位置
  mapper-locations: classpath:mapper/*.xml                  #mapper文件的位置

logging:                                          #运行日志配置
  file: yingx.log                              #日志写入的文件名
  level:
    root: info                                    #根日志的级别
    com.zhanghui.dao: debug                       #子日志

